.page {
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;  
    position: relative;
    width: 100%;
}

.h1 {
    display: grid;
    font-size: clamp(4.5rem, 3.625rem + 4.6667vw, 8rem);
    font-weight: 600;
    letter-spacing: -4px;
    line-height: 1em;
    position: absolute;
    right: 4%;
    text-align: right;
    top: 4%;
    z-index: 100;

    .span {
        font-style: italic;
        font-weight: 500;
    }
}

.h2 {
    display: grid;
    bottom: 5%;
    font-size: clamp(4rem, 3.25rem + 4vw, 7rem);
    font-weight: 600;
    letter-spacing: -4px;
    line-height: 1em;
    mix-blend-mode: overlay;
    position: absolute;
    left: -4%;
    text-align: right;
    z-index: 100;
}


.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
}

.header {
    background-color: var(--primary);
    left: 0;
    position: fixed;
    min-height: 100dvh;
    width: 3em;
    z-index: 2;
}
