.page {
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;  
    position: relative;
    width: 100%;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
}

.header {
    background-color: var(--primary);
    left: 0;
    position: fixed;
    min-height: 100dvh;
    width: 3em;
    z-index: 2;
}
